.imagencardfichatecnica {
  background: linear-gradient(to right, #7bc6cc, #be93c5);
  border: black solid 2px;
  padding: 10px 50px;
}

.imagencardfichatecnica:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.contenedorcharacterimage {
  display: flex;
  margin: 40px;
  justify-content: center;
}

.botonBack {
  border: none;
  background: #a23ab3;
  border-radius: 50px;
  margin: 15px 0;
  padding: 10px 80px;
  opacity: 0.9;
  outline: none;
  color: white;
  text-align: center;
}

.botonBack:hover {
  opacity: 1;
  box-shadow: 2px 2px 10px rgba(5, 161, 135, 0.486);
  background: #bb1fd3;
}

i {
  font-size: 20px;
}
