.contenedor {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 20px;
  margin: 40px;
  justify-content: center;
}

/* .imagen {
   border-radius: 500px; 
} */

.imagencard {
  background: linear-gradient(to right, #7bc6cc, #be93c5);
  border: black solid 2px;
  padding: 10px 50px;
}

.imagencard:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}

/* .fuente {
  text-align: center;
} */
